<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>

        {% for state in States %}
            <LI>"{{ state.id|e  }}: "<B>"{{ state.name|e }}"</B>
                <UL>
                {% for city in Cities %}
                    {% if city.state_id == state.id %}    
                <LI>"{{ city.id|e }}: " <B>"{{ city.name|e }}"</B></LI>
                    {% endif %}
                {% endfor %} 
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>

